@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    min-height: 100vh;
    background-color: #021024;

}

.background {
    /* background: url(atras.jpg) no-repeat; */
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    filter: blur(10px);
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 550px;
    margin-top: 20px;
    background: url(login.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.item {
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    color: #fff;
    background: transparent;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.item .logo {
    color: #000000;
    font-size: 30px;

}

.text-item h2 {
    font-size: 40px;
    line-height: 1;
}

.container .login-section {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
    color: #000000;
    backdrop-filter: blur(10px);
}

.login-section .form-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.login-section .form-box.register {
    transform: translateX(430px);
    transition: transform .6s ease;
    transition-delay: 0s;
}

.login-section.active .form-box.register {
    transform: translateX(0px);
    transition-delay: .7s;
}

.login-section .form-box.login {
    transform: translateX(0px);
    transition: transform .6s ease;
    transition-delay: 0.7s;
}

.login-section.active .form-box.login {
    transform: translateX(430px);
    transition-delay: 0s;
}



.login-section .form-box h2 {
    text-align: center;
    font-size: 25px;
}

.form-box .input-box {
    width: 340px;
    height: 50px;
    border-bottom: 2px solid#000000;
    margin: 30px 0;
    position: relative;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding-right: 28px;
}

.input-box label {
    position: absolute;
    top: -10%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 600px;
    pointer-events: none;
    transition: .5s ease;
}

.input-box .icon {
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}


.btn {
    background: #000000;
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #412df7;
    font-size: 16px;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.4);

}

.create-account {
    font-size: 14.5px;
    text-align: center;
    margin: 25px;
}

.create-account p a {
    color: #000000;
    font-weight: 600px;
    text-decoration: none;
}

.create-account p a:hover {
    text-decoration: underline;
}


/*- Animación del fondo  */

.contenedorFondo {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;
}


.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #08316e;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #08316e44, 0 0 50px #08316e, 0 0 100px #08316e;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
    background: #dedcdc;
    box-shadow: 0 0 0 10px #dedcdc44, 0 0 50px #dedcdc, 0 0 100px #dedcdc;
}

@keyframes animate {
    0% {
        transform: translateY(110vh) scale(0) translateX(calc(var(--i) * 5px));
    }

    100% {
        transform: translateY(-20vh) scale(1) translateX(calc(var(--i) * 5px));
    }
}